@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RaidExec</h1>
    <p class="lead">Welcome to RaidExec</p>
</div>

<div class="row">
    @Html.Action("_Home", "UserAccounts")
</div>